doctype html
html(lang="en") 
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial scale=1")
    title Responsive Grid
    link(rel="stylesheet" href="style.css")
  
  body
    .grid
      .row
        .col-wd-12
          .col 12 COLUMN
        .col-wd-6.col-md-6
          .col 6 COLUMN
        .col-wd-6
          .col 6 COLUMN
        .col-wd-4.col-wd-4
          .col 4 COLUMN
        .col-wd-4.col-wd-4
          .col 4 COLUMN
        .col-wd-4.col-wd-4
          .col 4 COLUMN
        .col-wd-3.col-md-3
          .col 3 COLUMN
        .col-wd-3.col-md-3
          .col 3 COLUMN
        .col-wd-3.col-md-3
          .col 3 COLUMN
        .col-wd-3.col-md-3
          .col 3 COLUMN
        .col-wd-6.col-md-4.col-sm-2
          .col 2 COLUMN
        .col-wd-6.col-md-4.col-sm-2
          .col 2 COLUMN
        .col-wd-6.col-md-4.col-sm-2
          .col 2 COLUMN
        .col-wd-6.col-md-4.col-sm-2
          .col 2 COLUMN
        .col-wd-6.col-md-4.col-sm-2
          .col 2 COLUMN
        .col-wd-6.col-md-4.col-sm-2
          .col 2 COLUMN
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        .col-wd-3.col-md-2.col-sm-1
          .col 1 
        
        

  